@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#E9DFC7,#F3EFE5);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:5px 5px 15px #5c3a2ea3;
}

h1 {
    color:#F2BF27 ;
    text-align: center;
    text-shadow: 1px 1px 2px #b28c1ccb;
}

h2 {
    color:#8DA668;
    text-shadow: 1px 1px 4px rgb(92, 92, 139);
}

p {
    text-align: justify;
}